body{
  background-color: #268bd2 ;
  color: #fdf6e3;
}

h1, h2{
  text-transform: uppercase;
}

a{
  color: #268bd2;
}

.top-bar, .top-bar ul {
  background-color: #1d6da7;
}

.menu a {
	color: #fdf6e3;
}

.top-bar ul :hover {
	background-color: #268bd2;
	color: #fdf6e3;
}

#navigationbar {
	margin-bottom: 24px;
}

article {
	background-color: #89b1ce;
	color: black;
	padding: 2em;
}

.anchor {
	padding-top: 40px;
	margin-top: -40px;
}
