body{
  background-color: #fdf6e3;
  color: #dc322f;
}

h1, h2{
  text-transform: uppercase;
}

a{
  color: #268bd2;
}

.top-bar, .top-bar ul {
  background-color: #eee8d5;
}

.menu a {
	color: #268bd2;
}

.top-bar ul :hover {
	background-color: #93a1a1;
	color: #657b83;
}

#navigationbar {
	margin-bottom: 24px;
}

article {
	background-color: #FBE9E7;
	color: black;
	padding: 2em;
}

.anchor {
	padding-top: 40px;
	margin-top: -40px;
}
