body{
  background-color: #C74E4E;
  color: white;
}

h1, h2{
  text-transform: uppercase;
}

a{
  color: #EDAB4A;
}

.top-bar, .top-bar ul {
  background-color: grey;
}

.menu a {
	color: white;
}

.top-bar ul :hover {
	background-color: black;
	color: white;
}

#navigationbar {
	margin-bottom: 24px;
}

article {
	background-color: #FBE9E7;
	color: black;
	padding: 2em;
}

.anchor {
	padding-top: 40px;
	margin-top: -40px;
}